
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";


}

body {
    background-color: rgb(60,60,60);
    color: white;
}

.header{
    background: linear-gradient(to right,rgb(49, 51, 179), rgb(60, 60, 60));
    position: fixed;
    width: 100%;
    
}

.search-input{
    padding: 10px;
    margin-top: 20px;
    margin-right: 15px;
    width: 350px;
    border: none;
    border-radius: 5px;
    float: right;
    display: inline;
    outline: none;
}

h1 {
    font-weight: lighter;
    font-family: 'bebas neue';
    font-size: 65px;
    background: -webkit-linear-gradient(rgb(255, 210, 128), rgb(255, 136, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 20%;
    padding: 15px;
    display: inline;
}

.container {
    display: flex;
    padding: 25px;
}


.search-button {
    background-color: rgb(226, 165, 33);
    box-shadow: 0 0 1px rgb(44, 44, 44);
    width: 100px;
    padding: 10px 0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
}


.search-button {
    background-color: rgb(226, 165, 33);
    box-shadow: 0 0 20px rgb(44, 44, 44);

    float: right;
    margin-top: 18px;
    margin-right: 10px;
}

.search-button:hover{
    background-color: rgb(238, 178, 67);
}

.quote{
    margin-top: 15px;
}

.quote-container {
    height: 100px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 75px;
    box-shadow: 0 0 85px rgb(18, 18, 18) inset;
    outline: solid 0.5px rgb(29, 29, 29);
}

.quote-container h3 {
    font-size: 23px;
    font-family: 'libre baskerville';
    font-style: italic;
}

.movie-display-section .search-banner {
    font-size: 18px;
    margin: 20px 0;
    background: linear-gradient(to right, rgb(60, 60, 60), rgb(226, 165, 33), rgb(60, 60, 60));
    padding: 9px;
    border-radius: 5px;
    display: flex;
    justify-content: center;

}

.movie-display-section .movie-to-watch-banner {
    font-size: 18px;
    margin: 20px 0;
    background: linear-gradient(to right, rgb(60, 60, 60), rgb(49, 51, 179), rgb(60, 60, 60));
    padding: 9px;
    border-radius: 5px;
    display: flex;
    justify-content: center;

}

.btn {
    width: 40%;
    margin: 8px 0 4px 0;
    padding: 5px 0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: rgb(71, 71, 71);
    color: white;
    font-family: 'bebas neue';
    letter-spacing: .22rem;
    font-size: 28px;
}

.btn:hover{
    box-shadow: inset 0px 0px 2px
  rgb(235, 169, 46), 0 0 5px
  rgb(235, 169, 46);
  border-radius: 15px;
  transition: all 1.0s;
}

.btn {
    width: 40%;
    margin: 8px 0 4px 0;
    padding: 5px 0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: rgb(71, 71, 71);
    color: white;
    font-family: 'bebas neue';
    letter-spacing: .22rem;
    font-size: 28px;
}

.btn:hover{
    box-shadow: inset 0px 0px 2px
  rgb(235, 169, 46), 0 0 5px
  rgb(235, 169, 46);
  border-radius: 15px;
  transition: all 1.0s;
}

.movie-data {
    width: 100%;

}

.movie-data h4 {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 350;
}


.movie-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-cards .card { 
    background-color: rgb(32, 32, 32);
    list-style: none;
    padding: 12px 12px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
    display: inline-grid;
    justify-items: center;
    max-width: 300px;

}


 .movie-cards .card img {
    width: 265px;
    box-shadow: none;
    cursor: pointer;
    transition: all 1s;
    transition: .5s ease;
    opacity: 1;
        }

 .preview {
    visibility: hidden;
    inline-size: 200px;
    overflow-wrap: break-word;
    text-align: center;
    margin-top: -330px;
}

        
#tweet {
    display: none;
}

.add-button{
width: 92%;
height: 40px;
border: none;
border-radius: 8px;
background-color: rgb(226, 165, 33);
/* background-color:rgb(49, 51, 179) ; */
margin: 10px;
cursor: pointer;
color: white;
font-weight: bold;
box-shadow: 0 0 20px rgb(0, 0, 0);
}

.add-button:hover{
    background-color: rgb(238, 178, 67);
    color: black;
}



@media (max-width: 715px) {

    h1{
        font-size: 65px;
    }
    .search-input {
        width: 200px;
    }

} 

@media (max-width: 649px){
    .card img{
        max-width: 200px;
    }
}

@media (max-width: 520px){
    .card img{
        max-width: 165px;
    }
}

@media (max-width: 565px){
    h1{

    }
    
    header{
        height: 150px;
    }
    .quote-container{
        margin-top: 140px;
    }
    .search-button{
        margin-top: 96px;
    }
    .search-input{
        justify-content: center;
        align-items: center;
        float: left;
        margin-left: 20px;
        width: 310px;
    }
}

@media (max-width: 532px){
    h1{
        align-items: center;
    }
}

@media (max-width: 455px){
    .search-input {
        width: 230px;
    }

} 

/* @media (max-width: 1250px) {
    .movie-data .quote-container {
        padding: 20px;
    }

    .movie-cards {
        flex-wrap: wrap;
    }

    .movie-cards .card {
        width: calc(100% / 4 - 15px);
    }
}

@media (max-width: 1050px) {
    .movie-cards .card {
        width: calc(100% / 3 -15px);
    }
} */

/* @media (max-width: 750px) {
    .container {
        flex-wrap: wrap;
        padding: 15px;
    }

    .movie-input {
        width: 100%;
    }
} */