
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";


}
/*body styling properties such as bakground color and font color*/
body {
    background-color: rgb(60,60,60);
    color: white;
}
/**/
.header{
    background: linear-gradient(to right,rgb(49, 51, 179), rgb(60, 60, 60));
    position: fixed;
    width: 100%;
    
}

/*styling for the search input*/
.search-input{
    padding: 10px;
    margin-top: 20px;
    margin-right: 15px;
    width: 350px;
    border: none;
    border-radius: 5px;
    float: right;
    display: inline;
    outline: none;
}

/*styling for the h1 element which is the main title in the header*/
h1 {
    font-weight: lighter;
    font-family: 'bebas neue';
    font-size: 65px;
    background: -webkit-linear-gradient(rgb(255, 210, 128), rgb(255, 136, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 20%;
    padding: 15px;
    display: inline;
}

/*styling for the main container*/
.container {
    display: flex;
    padding: 25px;
}

/*styling for the search button in the header*/
.search-button {
    background-color: rgb(226, 165, 33);
    box-shadow: 0 0 1px rgb(44, 44, 44);
    width: 100px;
    padding: 10px 0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
    background-color: rgb(226, 165, 33);
    float: right;
    margin-top: 18px;
    margin-right: 10px;

}

/*styling for search button after you hover over it*/
.search-button:hover{
    background-color: rgb(238, 178, 67);
}

/*styling for the quote inside the quote container*/
.quote{
    margin-top: 15px;
}

/*styiling for the quote container*/
.quote-container {
    height: 150px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 75px;
    box-shadow: 0 0 85px rgb(18, 18, 18) inset;
    outline: solid 0.5px rgb(29, 29, 29);
}

/*styling for the text inside the quote container button*/
.quote-container h3 {
    font-size: 23px;
    font-family: 'libre baskerville';
    font-style: italic;
}

/*styling for the search results banner*/
.movie-display-section .search-banner {
    font-size: 18px;
    margin: 20px 0;
    background: linear-gradient(to right, rgb(60, 60, 60), rgb(226, 165, 33), rgb(60, 60, 60));
    padding: 9px;
    border-radius: 5px;
    display: flex;
    justify-content: center;

}

/*styling for movies to watch banner*/
.movie-display-section .movie-to-watch-banner {
    font-size: 18px;
    margin: 20px 0;
    background: linear-gradient(to right, rgb(60, 60, 60), rgb(49, 51, 179), rgb(60, 60, 60));
    padding: 9px;
    border-radius: 5px;
    display: flex;
    justify-content: center;

}

/*styling for the "generate movie quote" button*/
.btn {
    width: 30%;
    height: 60px;
    margin: 25px 8px 8px 8px;
    padding: 5px 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: rgb(90, 90, 90);
    color: white;
    font-family: 'bebas neue';
    letter-spacing: .22rem;
    font-size: 20px;
    box-shadow: 0 0 10px rgb(39, 39, 39);

}

/*styling for the "add" button after you hover over it*/
.btn:hover{
    box-shadow: inset 0px 0px 6px
  rgb(235, 169, 46), 0 0 6px
  rgb(243, 172, 40);
  transition: all 0.4s;
  background-color: rgb(226, 165, 33) ;
}

/*styling for movie data with*/
.movie-data {
    width: 100%;

}

/*styling for the h4 element inside the movie data class*/
.movie-data h4 {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 350;
}

/*styling for the movie cards container*/
.movie-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/*styling for the movie cards themselves*/
.movie-cards .card { 
    background-color: rgb(32, 32, 32);
    list-style: none;
    padding: 15px 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
    display: inline-grid;
    justify-items: center;
    width: 300px;

}

/*styling for the images inside the movie cards*/
.movie-cards .card .card-img  {
    width: 265px;
    height: 380px;
    box-shadow: none;
    padding: 10px;
}

.movie-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-list .card { 
    background-color: rgb(32, 32, 32);
    list-style: none;
    padding: 12px 12px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
    display: inline-grid;
    justify-items: center;
    max-width: 300px;

}

.movie-list .card img {
    width: 265px;
    box-shadow: none;
    padding: 10px;
}

/*styling for tweet button so its not displayed before the generate button is clicked*/
#tweet {
    display: none;
}

/*styling for the "add button"*/
.add-button{
width: 92%;
height: 40px;
border: none;
border-radius: 8px;
background-color: rgb(226, 165, 33);
margin: 10px;
cursor: pointer;
color: white;
font-weight: bold;
box-shadow: 0 0 20px rgb(0, 0, 0);
}

/*styling for after you hover over the "add button"*/
.add-button:hover{
    background-color: rgb(238, 178, 67);
    rgb(235, 169, 46), 0 0 6px
    rgb(243, 172, 40);
    transition: all 0.3s;
    color: black;

}

/*media queries for making the webside resposive and mobile friendly*/
@media (max-width: 715px) {

    h1{
        font-size: 65px;
    }
    .search-input {
        width: 200px;
    }

    .btn{
        font-size: 14px;
        width: 200px;
    }
} 

@media (max-width: 649px){
    .card img{
        max-width: 300px;
    }
}

@media (max-width: 520px){
    .card img{
        max-width: 300px;
    }
}

@media (max-width: 565px){
    h1{

    }
    
    header{
        height: 150px;
    }
    .quote-container{
        margin-top: 140px;
    }
    .search-button{
        margin-top: 96px;
    }
    .search-input{
        justify-content: center;
        align-items: center;
        float: left;
        margin-left: 20px;
        width: 310px;
    }
}

@media (max-width: 532px){
    h1{
        align-items: center;
    }
}

@media (max-width: 455px){
    .search-input {
        width: 230px;
    }

} 